MC_HOST=mc.vanillka.ru
MC_PORT=25565
MC_USERNAME=AFKgoodbot5
MC_VERSION=
LOGIN_PASSWORD=898989
COMMAND_OWNERS=RUSSIAN_GRIZZLY,quochiii
LOBBY_NPC_POS=89.5,72,-182
SPAWN_WAIT_MS=7000
NPC_APPROACH_DISTANCE=3.2
NPC_PUNCH_DELAY_MS=700
ANTI_AFK_INTERVAL_MS=45000
AUTO_EAT_ITEM=cooked_porkchop
AUTO_EAT_HEALTH_THRESHOLD=5
AUTO_EAT_FOOD_THRESHOLD=5
STATUS_INTERVAL_MS=15000
RECONNECT_DELAY_MS=15000
DEBUG=1
