MC_HOST=mc.example.ru
MC_PORT=25565
MC_USERNAME=MyBot123
MC_VERSION=
LOGIN_PASSWORD=my_password
COMMAND_OWNERS=MyNick,FriendNick
LOBBY_NPC_POS=10.5,64,-3.5
SPAWN_WAIT_MS=7000
NPC_APPROACH_DISTANCE=3.2
NPC_PUNCH_DELAY_MS=700
ANTI_AFK_INTERVAL_MS=45000
AUTO_EAT_ITEM=cooked_porkchop
AUTO_EAT_HEALTH_THRESHOLD=5
AUTO_EAT_FOOD_THRESHOLD=5
STATUS_INTERVAL_MS=15000
RECONNECT_DELAY_MS=15000
DEBUG=1
